* {
  --color1: #f4f1de;
  --color2: #e07a5f;
  --color3: #3d405b;
  --color4: #81b29a;
  --color5: #f2cc8f;
}

h1,
h2 {
  color: var(--color3);
  font-family: "Permanent Marker", cursive;
}

body {
  background-image: url(./background.png);
  background-color: var(--color4);
  font-family: "Inconsolata", monospace;
}
.bold {
  font-weight: bold;
}

main {
  background-color: var(--color1);
}
